<h1>Shopping cart</h1>

	<form id="shopping-cart" action="/order" method="post">
		<table class="shopping-cart">
			<thead>
				<tr>
					<th>Item</th>
					<th>Qty</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

		<button class="order">Order</button>
		
	</form>


